.appbar {
  width: 100%;
  height: 64px;
  margin-left: 260px;
  z-index: 9;
  background-color: var(--bs-body-bg);

}

.appbar p, h2 {
  margin: 0;
}



@media (max-width: 768px) {

    .appbar {
        margin: 0;
    }



}